<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@angular/material@13.2.0/prebuilt-themes/indigo-pink.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item" *ngIf="userRole === 'USER' || userRole === 'ADMIN'">
                        <a class="nav-link" (click)="logout()" href="/home">Logout</a>
                    </li>
                </ul>
            </div>
            <button mat-button *ngIf="!userRole" [matMenuTriggerFor]="menu" class="custom-button">Action</button>
            <button mat-button *ngIf="userRole === 'USER'" [matMenuTriggerFor]="userMenu" class="custom-button">Action</button>
            <button mat-button *ngIf="userRole === 'ADMIN'" [matMenuTriggerFor]="adminMenu" class="custom-button">Manage</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/authenticate" class="custom-menu-item">Login</button>
              <button mat-menu-item routerLink="/register" class="custom-menu-item">Register</button>
          </mat-menu>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item class="custom-menu-item">Routes</button>
            <button mat-menu-item class="custom-menu-item" routerLink="/trips">Trips</button>
          </mat-menu>
          <mat-menu #adminMenu="matMenu">
            <button mat-menu-item class="custom-menu-item">Buses</button>
            <button mat-menu-item routerLink="/city-and-stops" class="custom-menu-item">City/Stops</button>
            <button mat-menu-item class="custom-menu-item">Buses</button>
            <button mat-menu-item class="custom-menu-item">Routes</button>
            <button mat-menu-item class="custom-menu-item">Trips</button>
            <button mat-menu-item class="custom-menu-item">Managers</button>
          </mat-menu>

        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/@angular/material@13.2.0/bundles/material.umd.js"></script>
  </body>
</html>


