<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>

    <!-- Add Login and Register buttons -->
    <div class="d-flex">
      <ng-container *ngIf="!isLoggedIn(); else profileLink">
        <a class="btn btn-outline-light me-2" routerLink="/login">Login</a>
        <a class="btn btn-outline-light" routerLink="/register">Register</a>
      </ng-container>
      <ng-template #profileLink>
        <ng-container *ngIf="userRole === 'USER'">
        <a class="btn btn-outline-light me-2" routerLink="/profile">My Profile</a>
      </ng-container>
        <ng-container *ngIf="userRole === 'DRIVER'">
          <a class="btn btn-outline-light me-2" routerLink="/my-office">My Office</a>
        </ng-container>
        <ng-container *ngIf="userRole === 'MANAGER'">
          <a class="btn btn-outline-light me-2" routerLink="/manage">Manage</a>
        </ng-container>
        <ng-container *ngIf="userRole === 'ADMIN'">
          <a class="btn btn-outline-light me-2" routerLink="/my-office">My Office</a>
        </ng-container>
        <a class="btn btn-outline-light me-2" (click)="logout()">Logout</a>
      </ng-template>
    </div>
  </div>
</nav>
