.mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white for better contrast */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    font-size: 30px;
    margin-right: 8px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
  }
  
  /* Adjust the height and padding of the toolbar for a more prominent header */
  .mat-toolbar {
    height: 80px;
    padding: 0 24px;
  }
  