.photo-carousel-container {
  position: relative; /* Set the carousel container as a relatively positioned element */
  z-index: 1; /* Set a lower z-index for the carousel container */
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #3b3535; /* Replace #dddddd with the desired gray background color */
}

.photo-carousel {
  display: flex;
  animation: slideAnimation infinite 25s linear; /* Infinite loop with 25s duration */
}

.photo-slide {
  flex: 0 0 20%; /* 20% to have 5 images in a row */
  flex-shrink: 0;
  width: 100%;
  margin-right: 16px; /* Add spacing between images, adjust as needed */
}

img {
  width: 100%;
  height: auto;
}
